body{
    background-color: #c9c1e5;
    color:black
}

header {
    border: solid 2px purple;
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

section{
    background: rgb(119,45,119);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

div {
    margin-right: 143px;
}