body{
    background-color: #c9c1e5;
    color:black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border: solid 2px purple;
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

section{
    background: rgb(119,45,119);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}